*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3B4CCA;
}

.logoPokemon{
    width: 150px;
    height: 50px;
    margin-left: 40px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.paginaPrincipal,
.sobreNosotros{
    margin: 20px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

a:active {
    color: black;
}

.footer a{
    color: white;
}

.footer a:hover {
    color: blue;
}

.footer a:active {
    color: white;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.informacion{
    text-align: center;
    margin-left: 180px;
    margin-right: 180px;
}

.imagenPersonaje{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    font-size: 16px;
}

.pokemonFight{
    align-content: center;
}

.redesSociales{
    align-content: center;
}

.bxl-facebook-circle,
.bxl-linkedin-square,
.bxl-youtube,
.bxl-instagram{
    margin: 5px;
}

.menu_Footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paginaPrincipal_footer,
.sobreNosotros_footer{
    margin: 15px;
    font-size: 16px;
}