*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3B4CCA;
    
}

.logoimagen{
    width: 190px;
    height: 70px;
    margin-left: 40px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.paginaPrincipal,
.sobreNosotros,
.estadisticas{
    margin: 20px;
    font-size: 16px;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    background-image: url('pokemon.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}

.informacion{
    text-align: center;
    margin-left: 180px;
    margin-right: 180px;
}

.imagenPersonaje{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}

.footer{
    display: flex;
    flex-direction: row;                
    justify-content: space-evenly;
    background-color: black;
    color: white;
    font-size: 16px;
   height: 200px;
}

.pokemonFight{
    
    align-content: center;

    
}

.redesSociales{
    align-content: center;
}

.bxl-facebook-circle,
.bxl-linkedin-square,
.bxl-youtube,
.bxl-instagram{
    margin: 5px;
}

.menu_Footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paginaPrincipal_footer,
.sobreNosotros_footer,
.estadisticas_footer{
    margin: 15px;
}

.formulario{
   background-color: rgba(255, 255, 255, 0.452);
   border: solid ;
   border-radius: 50px;
    width: 600px;
    height: 600px;
    padding: 5%;
    font-weight: bold;
    
}

.formulario h1{
    text-align: center;
}
.box{
    width: 40%;
    border-style: none;
}

.paginaPrincipal,
.sobreNosotros{
    color: black;
}
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgba(255, 255, 255, 0.827);
}

a:active{
    color: black;
}
