<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/cambiar_perfil.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>Editar Perfil</title>
</head>

<body>
    <div class="header"> <!--HEADER-->
        <a href="/CambiarPerfil">
            <img class="fotoPerfil" id="foto_perfil" src="/fotos_perfil/0_0.png" alt="Foto de Perfil">
        </a>
        <div class="menu">
            <a href="/">
                <h6 class="paginaPrincipal">Página Principal</h6>
            </a>
            <a href="/CambiarContrasena">
                <h6 class="paginaPrincipal">Cambiar Contraseña</h6>
            </a>
        </div>
    </div>

    <div id="caja">
        <div id="form">
            <div class="perfil">
                <img src="/fotos_perfil/0_0.png" class="fotoPerfilGrande" id="foto_perfilGrande" alt="Foto de Perfil Grande">
                <div class="profile-menu" id="profile-menu">
                    <img src="/fotos_perfil/0_0.png" class="menu-image" onclick="changeProfileImage('/fotos_perfil/0_0.png')" alt="Imagen del Menú">
                </div>
                <div class="form-group">
                    <h1 id="usernameDisplay">Nombre de Usuario</h1> <!-- Nombre de Usuario -->
                </div>
            </div>
            <div class="form-group">
                <label for="textbox1">Correo Electrónico</label>
                <br>
                <input type="text" id="textbox1">
            </div>
            <div class="form-group">
                <label for="textbox2">Nombre</label>
                <br>
                <input type="text" id="textbox2">
            </div>
            <div class="form-group">
                <label for="textbox3">Primer Apellido</label>
                <br>
                <input type="text" id="textbox3">
            </div>
            <div class="form-group">
                <label for="textbox4">Segundo Apellido</label>
                <br>
                <input type="text" id="textbox4">
            </div>
            <button id="saveButton">Guardar Cambios</button>
        </div>
    </div>

    <div class="footer">
        <div class="pokemonFight">Pokémon Fight</div>
        <div class="redesSociales">
            <i class="bx bxl-facebook-circle"></i>
            <i class="bx bxl-linkedin-square"></i>
            <i class="bx bxl-youtube"></i>
            <i class="bx bxl-instagram"></i>
        </div>
        <div class="menu_Footer">
            <a href="/">
                <h6 class="paginaPrincipal_footer">Página Principal</h6>
            </a>
        </div>
    </div>

    <script src="js/cambiar_perfil.js"></script>
</body>

</html>
