<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>Editar Perfil</title>
</head>

<body>
    <div class="header"> <!--HEADER-->
        <a href="/CambiarPerfil">
        <img class="fotoPerfil" id="foto_perfil">
    </a>
        <div class="menu">
            <a href="/"><h6 class="paginaPrincipal">Página Principal</h6></a>
            <a href="/LandingPageEquipo"><h6 class="sobreNosotros">Sobre Nosotros</h6></a>
        </div>
    </div> 

    <div id="caja">
        <div id="form">
            <div class="perfil">
                <img src="imagen" class="fotoPerfilGrande" id="foto_perfilGrande">
                <p>Daniel</p>
            </div>
            <div class="form-group" id="group1">
                <label for="textbox1">Correo Electrónico</label>
                <br>
                <input type="text" id="textbox1" value="Ejemplo@ejemplo.com">
            </div>
            <div class="form-group" id="group2">
                <label for="textbox2">Contraseña</label>
                <br>
                <input type="password" id="textbox2" value="******">
            </div>
            <div class="form-group" id="group3">
                <label for="textbox3">Nombre</label>
                <br>
                <input type="text" id="textbox3" value="Jose Daniel Valerio C.">
            </div>
            <div class="form-group" id="group4">
                <label for="textbox4">Identificación</label>
                <br>
                <input type="text" id="textbox4" value="2-0860-0025">
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="pokemonFight">Pokémon Fight</div>
        <div class="redesSociales">
            <i class="bx bxl-facebook-circle"></i>
            <i class="bx bxl-linkedin-square"></i>
            <i class="bx bxl-youtube"></i>
            <i class="bx bxl-instagram"></i>
        </div>
        <div class="menu_Footer">
            <a href="/"><h6 class="paginaPrincipal_footer">Página Principal</h6></a>
            <a href="../Landing Page Equipo/page_equipo.html"><h6 class="sobreNosotros_footer">Sobre Nosotros</h6></a>
        </div>
    </div>
</body>
    <script src="../public/css/cambiar_perfil.css"></script>
</html>
