<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>Contraseña Temporal Enviada</title>
</head>

<body>
    <div class="header"> <!--HEADER-->
        <img src="/img/logoPokemon.png" class="logoimagen">
        <div class="menu">
            <a href="/InicioSesion">
                <h6 class="sobreNosotros">Iniciar Sesión</h6>
            </a>
            <a href="/LandingPageProducto">
                <h6 class="paginaPrincipal">Sobre el Producto</h6>
            </a>
            <a href="/LandingPageEquipo">
                <h6 class="sobreNosotros">Sobre Nosotros</h6>
            </a>
        </div>
        <div class="body"> <!--BODY--> 
            <p>La contraseña temporal ha sido enviada a su correo
            </p>
        </div>
        <div class="footer"> <!--FOOTER-->
            <div class="pokemonFight">Pokémon Fight</div>
            <div class="redesSociales">
                <i class="bx bxl-facebook-circle"></i>
                <i class="bx bxl-linkedin-square"></i>
                <i class="bx bxl-youtube"></i>
                <i class="bx bxl-instagram"></i>
            </div>
            <div class="menu_Footer">
                <a href="/InicioSesion">
                    <h6 class="paginaPrincipal">Iniciar Sesión</h6>
                </a>
                <a href="/LandingPageProducto">
                    <h6 class="paginaPrincipal">Sobre el Producto</h6>
                </a>
                <a href="/LandingPageEquipo">
                    <h6 class="sobreNosotros">Sobre Nosotros</h6>
                </a>
            </div>
        </div>
</body>

</html>