<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/elegir_Equipo.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>Jugar una partida</title>
</head>
<body>
    <div class="header"> <!--HEADER-->
        <a href="/CambiarPerfil">
            <img class="fotoPerfil" id="foto_perfil">
        </a>
        <div class="menu">
            <a href="/">
                <h6 class="paginaPrincipal">Página Principal</h6>
            </a>
            <a href="/GenerarReportes">
                <h6 class="estadisticas">Estadísticas</h6>
            </a>
        </div>
    </div>

    <div class="body"> 
        <h3 class="titulo">Selecciona tu equipo para la batalla</h3>
    
        <div class="carrusel-container">
            <!-- Carrusel para los equipos del usuario -->
            <div class="carrusel-item">
                <h4>Mis Equipos</h4>
                <button class="boton_carrousel_arriba" onclick="carrousel('carruselUsuario')"><i class='bx bxs-up-arrow'></i></button>
                <div id="contenedorEquiposUsuario">
                    <button class="boton_general">Elegir Equipo</button>

                </div>
                <button class="boton_carrousel_abajo" onclick="carrousel('carruselUsuario')"><i class='bx bxs-down-arrow'></i></button>
            </div>
    
            <!-- Carrusel para los equipos de amigos -->
            <div class="carrusel-item">
                <h4>Equipos de Amigo</h4>
                <button class="boton_carrousel_arriba" onclick="carrousel('carruselAmigos')"><i class='bx bxs-up-arrow'></i></button>
                <div id="contenedorEquiposAmigos">
                    <button class="boton_general">Elegir Equipo</button>
                    <!-- Equipos de amigos se insertarán aquí -->
                </div>
                <button class="boton_carrousel_abajo" onclick="carrousel('carruselAmigos')"><i class='bx bxs-down-arrow'></i></button>
            </div>
        </div>
    </div>

    <div class="footer"> 
        <div class="pokemonFight">Pokémon Fight</div>
        <div class="redesSociales">
            <i class="bx bxl-facebook-circle"></i>
            <i class="bx bxl-linkedin-square"></i>
            <i class="bx bxl-youtube"></i>
            <i class="bx bxl-instagram"></i>
        </div>
        <div class="menu_Footer">
            <a href="/">
                <h6 class="paginaPrincipal_footer">Página Principal</h6>
            </a>
            <a href="/GenerarReportes">
                <h6 class="estadisticas_footer">Estadísticas</h6>
            </a>
        </div>
    </div>

    <script src="/js/elegir__Equipo.js"></script>
</body>
</html>



