<!DOCTYPE html>
<html lang="es">

<head>
    <script src="EquipoPokemon.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/EquipoPokemon.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>Equipo Pokémon</title>
</head>

<body>
    <div class="header"> <!--HEADER-->
        <a href="/CambiarPerfil">
            <img class="fotoPerfil" id="foto_perfil">
        </a>
        <div class="menu">
            <a href="/">
                <h6 class="paginaPrincipal">Página Principal</h6>
            </a>
            <a href="/LandingPageEquipo">
                <h6 class="sobreNosotros">Sobre Nosotros</h6>
            </a>
            <a href="/GenerarReportes">
                <h6 class="estadisticas">Estadísticas</h6>
            </a>
            <a href="/JugarUnaPartida">
                <h6 class="duelos">Duelos</h6>
            </a>
        </div>
    </div>
    <div class="body"> <!--BODY-->
        <h3 class="titulo">Equipo Pokémon</h3>
        <p class="resumen">Selección de equipo activo</p>
        <a href="/NuevoEquipo">
            <h6 class="NuevoEquipo">Nuevo Equipo</h6>
        </a>
        <table class="tabla_body">
            <tr>
                <th>Nombre del Equipo</th>
                <th colspan="6" class="th_Pokemons">Pokémon</th>
            </tr>
            <tr class="decoracionTabla">
                <td>
                    <img class="imagen_Personajes">
                    Nombre del equipo1
                </td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
            </tr>
            <tr class="decoracionTabla">
                <td>
                    <img class="imagen_Personajes">
                    Nombre del equipo2
                </td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
            </tr>
            <tr class="decoracionTabla">
                <td>
                    <img class="imagen_Personajes">
                    Nombre del equipo3
                </td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
            </tr>
            <tr class="decoracionTabla">
                <td>
                    <img class="imagen_Personajes">
                    Nombre del equipo4
                </td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
            </tr>
            <tr class="decoracionTabla">
                <td>
                    <img class="imagen_Personajes">
                    Nombre del equipo5
                </td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
            </tr>
            <tr class="decoracionTabla">
                <td>
                    <img class="imagen_Personajes">
                    Nombre del equipo6
                </td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
                <td><img class="imagen_Personajes">#</td>
            </tr>
        </table>
    </div>
    <div class="footer"> <!--FOOTER-->
        <div class="pokemonFight">Pokémon Fight</div>
        <div class="redesSociales">
            <i class="bx bxl-facebook-circle"></i>
            <i class="bx bxl-linkedin-square"></i>
            <i class="bx bxl-youtube"></i>
            <i class="bx bxl-instagram"></i>
        </div>
        <div class="menu_Footer">
            <a href="/">
                <h6 class="paginaPrincipal_footer">Página Principal</h6>
            </a>
            <a href="/LandingPageEquipo">
                <h6 class="sobreNosotros_footer">Sobre Nosotros</h6>
            </a>
            <a href="/GenerarReportes">
                <h6 class="estadisticas_footer">Estadísticas</h6>
            </a>
        </div>
    </div>
    <script src="/js/EquipoPokemon.js"></script>
</body>

</html>