<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/Generar_Reportes.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>Generar Reportes de Estadísticas</title>
</head>

<body>
    <div class="header"> <!--HEADER-->
        <a href="/CambiarPerfil">
        <img class="fotoPerfil" id="foto_perfil">
    </a>
        <div class="menu">
            <a href="/"><h6 class="paginaPrincipal">Página Principal</h6></a>
            <a href="/LandingPageEquipo"><h6 class="sobreNosotros">Sobre Nosotros</h6></a>
            <a href="/HistorialPartidas"><h6 class="historial">Historial Partidas</h6></a>
        </div>
    </div>
    <div class="body"> <!--BODY-->
        <h3 class="titulo">Estadísticas</h3>
        <p class="resumen">Genera reportes sobre tus estadísticas en Pokémon Fight!</p>
        <div class="reportes">
            <div class="victorias">
                <img class="victorias_img" src="/img/victorias.png">
                <h1>Victorias y derrotas</h1>
                <h1>contra tus amigos</h1>
                <button class="generarReporte_bttn" onclick="location.href = '/VictoriasYDerrotas'">Generar Reporte</button>
            </div>
            <div class="liderazgo">
                <img class="liderazgo_img" src="/img/liderazgo.png">
                <h1>Tabla de </h1>
                <h1>liderazgo</h1>
                <button class="generarReporte_bttn" onclick="location.href = '/TablaLiderazgo'">Generar Reporte</button>
            </div>
            <div class="historial_Pokemon">
                <img class="historial_Pokemon_img" src="/img/historial_Pokemon.png">
                <h1>Historial de tus</h1>
                <h1>Pokémon</h1>
                <button class="generarReporte_bttn" onclick="location.href = '/historialPokemon'">Generar Reporte</button>
            </div>
            <div class="historial_Equipos">
                <img class="historial_Equipos_img" src="/img/historial_Equipos.png">
                <h1>Historial de tus </h1>
                <h1>equipos</h1>
                <button class="generarReporte_bttn" onclick="location.href = '/HistorialEquipos'">Generar Reporte</button>
            </div>
        </div>
    </div>
    <div class="footer"> <!--FOOTER-->
        <div class="pokemonFight">Pokémon Fight</div>
        <div class="redesSociales">
            <i class="bx bxl-facebook-circle"></i>
            <i class="bx bxl-linkedin-square"></i>
            <i class="bx bxl-youtube"></i>
            <i class="bx bxl-instagram"></i>
        </div>
        <div class="menu_Footer">
            <a href="/"><h6 class="paginaPrincipal_footer">Página Principal</h6></a>
            <a href="/LandingPageEquipo"><h6 class="sobreNosotros_footer">Sobre Nosotros</h6></a>
        </div>
    </div>
</body>

</html>