<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Generar_Reportes.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>Generar Reportes de Estadísticas</title>
</head>

<body>
    <div class="header"> <!--HEADER-->
        <a href="../Perfil/Cambiar_perfil.html">
        <img class="fotoPerfil" id="foto_perfil">
    </a>
        <div class="menu">
            <a href="../Pagina_Principal/PaginaPrincipal.html"><h6 class="paginaPrincipal">Página Principal</h6></a>
            <a href="../Landing Page Equipo/page_equipo.html"><h6 class="sobreNosotros">Sobre Nosotros</h6></a>
            <a href="../Historial_partidas/Historial_partidas.html"><h6 class="historial">Historial Partidas</h6></a>
        </div>
    </div>
    <div class="body"> <!--BODY-->
        <h3 class="titulo">Estadísticas</h3>
        <p class="resumen">Genera reportes sobre las estadisticas de tus batallas y Pokémon</p>
        <div class="reportes">
            <div class="victorias">
                <img class="victorias_img" src="victorias.png">
                <h1>Victorias y derrotas</h1>
                <h1>contra tus amigos</h1>
                <button class="generarReporte_bttn" onclick="location.href = '../Estadisticas_Victorias_Derrotas/victorias_derrotas.html'">Generar Reporte</button>
            </div>
            <div class="liderazgo">
                <img class="liderazgo_img" src="liderazgo.png">
                <h1>Tabla de </h1>
                <h1>liderazgo</h1>
                <button class="generarReporte_bttn" onclick="location.href = '../Estadisticas_Tabla_de_liderazgo/tablaLiderazgo.html'">Generar Reporte</button>
            </div>
            <div class="historial_Pokemon">
                <img class="historial_Pokemon_img" src="historial_Pokemon.png">
                <h1>Historial de tus</h1>
                <h1>Pokémon</h1>
                <button class="generarReporte_bttn" onclick="location.href = '../Estadisticas_Historial_Pokemon/historialPokemon.html'">Generar Reporte</button>
            </div>
            <div class="historial_Equipos">
                <img class="historial_Equipos_img" src="historial_Equipos.png">
                <h1>Historial de tus </h1>
                <h1>equipos</h1>
                <button class="generarReporte_bttn" onclick="location.href = '../Estadisticas_Historial_Equipos/historial_Equipos.html'">Generar Reporte</button>
            </div>
        </div>
    </div>
    <div class="footer"> <!--FOOTER-->
        <div class="pokemonFight">Pokémon Fight</div>
        <div class="redesSociales">
            <i class="bx bxl-facebook-circle"></i>
            <i class="bx bxl-linkedin-square"></i>
            <i class="bx bxl-youtube"></i>
            <i class="bx bxl-instagram"></i>
        </div>
        <div class="menu_Footer">
            <a href="../Pagina_Principal/PaginaPrincipal.html"><h6 class="paginaPrincipal_footer">Página Principal</h6></a>
            <a href="../Landing Page Equipo/page_equipo.html"><h6 class="sobreNosotros_footer">Sobre Nosotros</h6></a>
        </div>
    </div>
</body>

</html>