<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/iniciSesion.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/73f851add2.js" crossorigin="anonymous"></script>
    <title>Inicio Sesión</title>
</head>

<body>
    <div class="header"> <!--HEADER-->
        <img src="/img/logoPokemon.png" class="logoimagen">

        <div class="menu">
            <a href="/">
                <h6 class="paginaPrincipal">Página Principal</h6>
            </a>
            <a href="/LandingPageEquipo">
                <h6 class="sobreNosotros">Sobre Nosotros</h6>
            </a>
        </div>
    </div>
    <div class="body"> <!--BODY-->
        <div class="formulario">
            <h1>INICIO SESIÓN</h1>
            <form action="/inicioSesion" id="formulario" method="post">
                <!-- Correo electronico  -->
                <div class="formulario__general" id="grupo__correo">
                    <label for="correo" class="correo">Correo electrónico</label>
                    <div class="formulario__input">
                        <input type="email" class="input" id="correo" name="correo">
                        <i class="formulario__validacion fa-solid fa-check"></i>
                    </div>
                    <p class="formulario__input-error">El correo electrónico debe tener mínimo 4 caracteres.</p>
                </div>
                <!-- Contraseña -->
                <div class="formulario__general" id="grupo__contrasena">
                    <label for="contrasena" class="contraseña">Contraseña</label>
                    <div class="formulario__input">
                        <input type="password" class="input" id="contrasena" name="contrasena">
                        <i class="formulario__validacion fa-solid fa-check"></i>
                    </div>
                    <p class="formulario__input-error">La contraseña debe tener mínimo 4 caracteres.</p>
                </div>
                <!-- BOTON ENVIAR -->
                <div class="formulario__grupo formulario__grupo-btn-enviar">
                    <h6 class="formulario__mensaje-exito" id="formulario__mensaje-exito">El formulario se envió
                        correctamente
                    </h6>
                    <br>
                    <input class="formulario__btn" type="submit" value="Enviar" id="formulario__btn">
                </div>
                <a href="/CambiarContrasena">
                    <h6 class="recuperarContraseña">Recuperar contraseña</h6>
                </a>
            </form>
        </div>

    </div>
    <div class="footer"> <!--FOOTER-->
        <div class="pokemonFight">Pokémon Fight</div>
        <div class="redesSociales">
            <i class="bx bxl-facebook-circle"></i>
            <i class="bx bxl-linkedin-square"></i>
            <i class="bx bxl-youtube"></i>
            <i class="bx bxl-instagram"></i>
        </div>
        <div class="menu_Footer">
            <a href="/">
                <h6 class="paginaPrincipal">Página Principal</h6>
            </a>
            <a href="/LandingPageEquipo">
                <h6 class="sobreNosotros">Sobre Nosotros</h6>
            </a>
            <a href="/GenerarReportes">
                <h6 class="estadisticas_footer">Estadísticas</h6>
            </a>
        </div>
    </div>
    <script src="/js/inicioSesion.js"></script>
</body>

</html>