<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/jugar_una_partida.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>Jugar una partida</title>
</head>

<body>
    <div class="header"> <!--HEADER-->
        <a href="/CambiarPerfil">
            <img class="fotoPerfil" id="foto_perfil">
        </a>
        <div class="menu">
            <a href="/">
                <h6 class="paginaPrincipal">Página Principal</h6>
            </a>
            <a href="/LandingPageEquipo">
                <h6 class="sobreNosotros">Sobre Nosotros</h6>
            </a>
            <a href="/GenerarReportes">
                <h6 class="estadisticas">Estadísticas</h6>
            </a>
        </div>
    </div>
    <div class="body"> <!--BODY-->
        <h3 class="titulo">Jugar una partida</h3>
        <div class="container">
            <p>Desafía a tus amigos en emocionantes batallas con equipos de varios Pokémon</p>
            <div class="cajas">
                <div class="caja">
                    <h2>Elegir equipo Pokémon</h2>
                    <div class="caja_imagen">
                        <img src="/img/equipo_pokemon.jpg">
                    </div>
                    <button onclick="location.href = '/ElegirEquipo'">Eligir Equipo</button>
                </div>
                <div class="caja">
                    <h2>Iniciar batalla</h2>
                    <div class="caja_imagen">
                        <img src="/img/batalla_pokemon.jpg">
                    </div>
                    <a href="/BatallaPokemon"></a>
                        <button>Iniciar batalla</button>
                </div>
            </div>
        </div>
</body>

</div>
<div class="footer"> <!--FOOTER-->
    <div class="pokemonFight">Pokémon Fight</div>
    <div class="redesSociales">
        <i class="bx bxl-facebook-circle"></i>
        <i class="bx bxl-linkedin-square"></i>
        <i class="bx bxl-youtube"></i>
        <i class="bx bxl-instagram"></i>
    </div>
    <div class="menu_Footer">
        <a href="/">
            <h6 class="paginaPrincipal">Página Principal</h6>
        </a>
        <a href="/LandingPageEquipo">
            <h6 class="sobreNosotros">Sobre Nosotros</h6>
        </a>
        <a href="/GenerarReportes">
            <h6 class="estadisticas">Estadísticas</h6>
        </a>
    </div>
</div>
</body>

</html>