<!DOCTYPE html>
<html lang="es">

<head>
    <script src="NuevoEquiopo.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/NuevoEquipo.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>Equipo Pokémon</title>
</head>

<body>
    <div class="header"> <!--HEADER-->
        <a href="/CambiarPerfil">
            <img class="fotoPerfil" id="foto_perfil">
        </a>
        <div class="menu">
            <a href="/">
                <h6 class="paginaPrincipal">Página Principal</h6>
            </a>
            <a href="/LandingPageEquipo">
                <h6 class="sobreNosotros">Sobre Nosotros</h6>
            </a>
            <a href="/GenerarReportes">
                <h6 class="estadisticas">Estadísticas</h6>
            </a>
            <a href="/JugarUnaPartida">
                <h6 class="duelos">Duelos</h6>
            </a>
            <a href="/EquipoPokemon">
                <h6 class="equipo">Equipos</h6>
            </a>
        </div>
    </div>
    </div>
    <div class="body"> <!--BODY-->
        <h3 class="titulo">Nuevo Equipo</h3>
        <p class="resumen">Selección de Pokémon para el equipo nuevo</p>
        <div class="formulario__general" id="grupo__nombre">
            <label for="label">Nombre del Equipo:</label>
            <div class="formulario__input">
                <input type="text" class="input" id="nombre">
                <i class="formulario__validacion fa-solid fa-check"></i>
            </div>
            <table class="tabla_body">
                <tr>
                    <td><img class="imagen_Personajes">#</td>
                    <td><img class="imagen_Personajes">#</td>
                    <td><img class="imagen_Personajes">#</td>
                    <td><img class="imagen_Personajes">#</td>
                    <td><img class="imagen_Personajes">#</td>
                    <td><img class="imagen_Personajes">#</td>
                </tr>
            </table>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Número</th>
                    <th>Nombre</th>
                    <th>Imagen</th>
                    <th>Número</th>
                    <th>Nombre</th>
                    <th>Imagen</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>n.º001</td>
                    <td>Bulbasaur</td>
                    <td><img src=""></td>
                    <td>n.º013</td>
                    <td>Weedle</td>
                    <td><img src=""></td>
                </tr>
                <tr>
                    <td>n.º002</td>
                    <td>Ivysaur</td>
                    <td><img src=""></td>
                    <td>n.º014</td>
                    <td>Kakuna</td>
                    <td><img src=""></td>
                </tr>

            </tbody>
            </tbody>
        </table>

        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">&raquo;</a>
        </div>
    </div>
    <div class="footer"> <!--FOOTER-->
        <div class="pokemonFight">Pokémon Fight</div>
        <div class="redesSociales">
            <i class="bx bxl-facebook-circle"></i>
            <i class="bx bxl-linkedin-square"></i>
            <i class="bx bxl-youtube"></i>
            <i class="bx bxl-instagram"></i>
        </div>
        <div class="menu_Footer">
            <a href="/">
                <h6 class="paginaPrincipal">Página Principal</h6>
            </a>
            <a href="/LandingPageEquipo">
                <h6 class="sobreNosotros">Sobre Nosotros</h6>
            </a>
            <a href="/GenerarReportes">
                <h6 class="estadisticas">Estadísticas</h6>
            </a>
        </div>
    </div>
    <script src="/js/EquipoPokemon.js"></script>
</body>

</html>