<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/page__equipo.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>Landing Page del Equipo</title>
</head>

<div>
    <div class="header"> <!--HEADER-->
        <img class="logoEquipo" src="/img/logoEquipo.png">
        <div class="menu">
            <a href="/">
                <h6 class="paginaPrincipal">Página Principal</h6>
            </a>
        </div>
    </div>
    <div class="body"> <!--BODY-->
        <h5 class="resumen">Somos Web Design Solutions,
            una empresa que se dedica a crear productos web orientados a satisfacer una gran
            variedad de necesidades.</h5>
        <div class="body_informacion">
            <img class="logoEquipo2" src="/img/logoEquipo2.jpg">
            <p class="titulo">Nuestros valores: </p>
            <ul class="informacion">
                <li>Transparencia, comunicacion abierta y honesta con nuestros clientes y colaboradores.</li>
                <li>Respeto para nuestros clientes y colaboradores.</li>
                <li>Compromiso con la calidad y excelencia en el desarrollo de nuestros productos.</li>
                <li>Orientación al cliente, priorizar y anticipar las necesidades y expectativas, empatizando y
                    entendiendo sus requerimientos.</li>
                <li>Innovación, manteniendo nuestros productos en la vanguardia tecnológica con creatividad y aplicación
                    de nuevas ideas.</li>
                <li>Seguridad, priorizar la protección de la informacion de nuestros clientes en cada uno de nuestros
                    productos.</li>
            </ul>
        </div>
    </div>
    <h3 class="personalEquipo">Personal Del Equipo</h3>
    <p class="resumen_p">Conoce los roles del equipo encargado de este proyecto!</p>
    <div class="grid-container">
        <div class="caja_Usuario">
            <img class="imagen" src="/img/Emilio.jpg">
            <div>
                <p class="nombre">Emilio Jose Conejo Fernández</p>
                <p class="rol">Coordinación</p>
            </div>
        </div>
        <div class="caja_Usuario">
            <img class="imagen" src="/img/Andy.jpg">
            <div>
                <p class="nombre">Andy Rodríguez Herrera</p>
                <p class="rol">Desarrollo</p>
            </div>
        </div>
        <div class="caja_Usuario">
            <img class="imagen" src="/img/JoseDaniel.jpg">
            <div>
                <p class="nombre">José Daniel Valerio Céspedes</p>
                <p class="rol">Calidad 1</p>
            </div>
        </div>
        <div class="caja_Usuario">
            <img class="imagen" src="/img/Samuel.jpg">
            <div>
                <p class="nombre">Samuel Solano Molina</p>
                <p class="rol">Calidad 2</p>
            </div>
        </div>
        <div class="caja_Usuario">
            <img class="imagen" src="/img/Maria.jpg">
            <div>
                <p class="nombre">María Angélica Rodríguez Coto</p>
                <p class="rol">Soporte</p>
    </div>
</div>
    </div>
    <div class="footer"> <!--FOOTER-->
        <div class="pokemonFight">Pokémon Fight</div>
        <div class="redesSociales">
            <i class="bx bxl-facebook-circle"></i>
            <i class="bx bxl-linkedin-square"></i>
            <i class="bx bxl-youtube"></i>
            <i class="bx bxl-instagram"></i>
        </div>
        <div class="menu_Footer">
            <a href="/">
                <h6 class="paginaPrincipal">Página Principal</h6>
            </a>
        </div>
    </div>
</body>

</html>