<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>Página Base</title>
</head>

<body>
    <div class="header"> <!--HEADER-->
        <img class="logoPokemon" src="/img/logoPokemon.png">
        <div class="menu">
            <a href="/">
                <h6 class="paginaPrincipal">Página Principal</h6>
            </a>
            <a href="/LandingPageEquipo">
                <h6 class="sobreNosotros">Sobre Nosotros</h6>
            </a>
            
        </div>
    </div>
    <div class="body"> <!--BODY-->
        <h3>Bienvenido a Pokémon Fight!</h3>
        <p class="informacion">The Pokémon Company tiene como objetivo crear una aplicación web donde los aficionados de
            la francicia
            Pokémon pueden jugar duelos entre amigos locales con sus Pokémon favoritos. Desafía a tus amigos, juega con
            tus Pokémon favoritos y demuestra tu habilidad como entrenador. ¡Comienza a jugar ahora!</p>
        <div class="imagenPersonaje">
            <img src="/img/pyroar.png">
            <img src="/img/pyroar2.png">
        </div>
    </div>
    <div class="footer"> <!--FOOTER-->
        <div class="pokemonFight">Pokémon Fight</div>
        <div class="redesSociales">
            <i class="bx bxl-facebook-circle"></i>
            <i class="bx bxl-linkedin-square"></i>
            <i class="bx bxl-youtube"></i>
            <i class="bx bxl-instagram"></i>
        </div>
        <div class="menu_Footer">
            <a href="/">
                <h6 class="paginaPrincipal">Página Principal</h6>
            </a>
            <a href="/LandingPageEquipo">
                <h6 class="sobreNosotros">Sobre Nosotros</h6>
            </a>
        </div>
    </div>
</body>

</html>