<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/Pagina_Principal.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <title>Página Base</title>
</head>

<body>
    <div class="header"> <!--HEADER-->
        <a href="/CambiarPerfil">
            <img class="fotoPerfil" id="foto_perfil">
        </a>
        <div class="menu">
            <a href="/Registro">
                <h6 class="registro"></h6>Registrarse</h6>
            </a>
            <a href="/GenerarReportes">
                <h6 class="sobreReportes"></h6>Estadísticas</h6>
            </a>
            <a href="/LandingPageEquipo">
                <h6 class="sobreNosotros"></h6>Sobre Nosotros</h6>
            </a>
            <a href="/LandingPageProducto">
                <h6 class="landingPage"></h6>Sobre el Producto</h6>
            </a>
        </div>
    </div>
    <div class="body"> <!--BODY-->
        <h3>Bienvenido a Pokémon Fight!</h3>
        <div class="opciones">
            <div class="listaAmigos">
                <h6>Lista de Amigos</h6>
                <Table>
                    <tr>
                        <td><img class="imagen_Personajes">#</td>
                    </tr>
                    <tr>
                        <td><img class="imagen_Personajes">#</td>
                    </tr>
                    <tr>
                        <td><img class="imagen_Personajes">#</td>
                    </tr>
                    <tr>
                        <td><img class="imagen_Personajes">#</td>
                    </tr>
                </Table>
                <a href="agregarAmigos">
                    <h6 class="botonAmigos">Agregar Amigos</h6>
                </a>
            </div>
            <div class="duelo">
                <a href="/JugarUnaPartida">
                    <h6 class="duelos">Duelos</h6>
                </a>
            </div>
            <div class="equipo">
                <a href="/EquipoPokemon">
                    <h6 class="equipos">Equipos</h6>
                </a>
            </div>
        </div>
    </div>
    <div class="footer"> <!--FOOTER-->
        <div class="pokemonFight">Pokémon Fight</div>
        <div class="redesSociales">
            <i class="bx bxl-facebook-circle"></i>
            <i class="bx bxl-linkedin-square"></i>
            <i class="bx bxl-youtube"></i>
            <i class="bx bxl-instagram"></i>
        </div>
        <div class="menu_Footer">
            <a href="/GenerarReportes">
                <h6 class="sobreReportes_footer"></h6>Estadísticas</h6>
            </a>
            <a href="/LandingPageEquipo">
                <h6 class="sobreNosotros_footer"></h6>Sobre Nosotros</h6>
            </a>
            <a href="/LandingPageProducto">
                <h6 class="landingPage_footer"></h6>Sobre el Producto</h6>
            </a>
        </div>
    </div>
</body>

</html>