<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/Registro.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/73f851add2.js" crossorigin="anonymous"></script>
    <title>Registro</title>
</head>

<body>
    <div class="header"> <!--HEADER-->
        <img src="/img/logoPokemon.png" class="logoimagen">
        <div class="menu">
            <a href="/InicioSesion">
                <h6 class="sobreNosotros">Iniciar Sesión</h6>
            </a>
            <a href="/">
                <h6 class="paginaPrincipal">Página Principal</h6>
            </a>
            <a href="/LandingPageEquipo">
                <h6 class="sobreNosotros">Sobre Nosotros</h6>
            </a>


        </div>
    </div>
    <div class="body"> <!--BODY-->
        <div class="formulario">
            <h1 class="registro">REGISTRO</h1>
            <form action="/Registro" id="formulario" method="post">
                <!-- NOMBRE  -->
                <div class="formulario__general" id="grupo__nombre">
                    <label for="nombre">Nombre</label>
                    <div class="formulario__input">
                        <input type="text" class="input" id="nombre" name="nombre">
                        <i class="formulario__validacion fa-solid fa-check"></i>
                    </div>
                    <p class="formulario__input-error">El nombre debe tener mínimo 4 caracteres.</p>
                </div>
                <!-- APELLIDO -->
                <div class="formulario__general" id="grupo__apellido">
                    <label for="apellido">Apellido</label>
                    <div class="formulario__input">
                        <input type="text" class="input" id="apellido" name="primerApellido">
                        <i class="formulario__validacion fa-solid fa-check"></i>
                    </div>
                    <p class="formulario__input-error">El apellido debe tener mínimo 4 caracteres.</p>
                </div>
                <!-- SEGUNDO APELLIDO -->
                <div class="formulario__general" id="grupo__segundoapellido">
                    <label for="segundoapellido">Segundo apellido</label>
                    <div class="formulario__input">
                        <input type="text" class="input" id="segundoapellido" name="segundoApellido">
                        <i class="formulario__validacion fa-solid fa-check"></i>
                    </div>
                    <p class="formulario__input-error">El apellido debe tener mínimo 4 caracteres.</p>
                </div>
                <!-- NOMBRE DE USUARIO -->
                <div class="formulario__general" id="grupo__nombre_usuario">
                    <label for="nombre_usuario">Nombre de usuario</label>
                    <div class="formulario__input">
                        <input type="text" class="input" id="nombre_usuario" name="nombreUsuario">
                        <i class="formulario__validacion fa-solid fa-check"></i>
                    </div>
                    <p class="formulario__input-error">El nombre de usuario debe tener mínimo 4 caracteres; se
                        admiten números, letras y guión bajo.</p>
                </div>
                <!-- CORREO -->
                <div class="formulario__general" id="grupo__correo">
                    <label for="correo">Correo electrónico</label>
                    <div class="formulario__input">
                        <input type="email" class="input" id="correo" name="correo">
                        <i class="formulario__validacion fa-solid fa-check"></i>
                    </div>
                    <p class="formulario__input-error">El correo debe tener mÍnimo 4 caracteres; se admiten
                        números, letras y guión bajo.</p>
                </div>
                <!-- IDENTIFICACIÓN -->
                <div class="formulario__general" id="grupo__identificacion">
                    <label for="identificacion">Identificación</label>
                    <div class="formulario__input">
                        <input type="number" class="input" id="identificacion" name="identificacion">
                        <i class="formulario__validacion fa-solid fa-check"></i>
                    </div>
                    <p class="formulario__input-error">El número de identificación debe tener mínimo 9 digitos.</p>
                </div>
                <!-- CONTRASEÑA-->
                <div class="formulario__general" id="grupo__contraseña">
                    <label for="contraseña">Contraseña</label>
                    <div class="formulario__input">
                        <input type="password" class="input" id="contraseña" name="contrasena">
                        <i class="formulario__validacion fa-solid fa-check"></i>
                    </div>
                    <p class="formulario__input-error">La contraseña debe tener mínimo 6 caracteres</p>
                </div>
                <!-- MENSAJE DE CAMPOS REQUERIDOS -->
                <div class="formulario__mensaje" id="formulario__mensaje">
                    <p><i class="fas fa-exclamation-circle">
                            <h6>Error:</h6>
                            <h6> Debe completar todos los campos
                        </i></h6>
                </div>
                <!-- BOTON ENVIAR -->
                <div class="formulario__grupo formulario__grupo-btn-enviar">
                    <h6 class="formulario__mensaje-exito" id="formulario__mensaje-exito">El formulario se envió
                        correctamente
                    </h6>
                    <br>
                    <input class="formulario__btn" type="submit" value="Enviar" id="formulario__btn"
                        onclick="location.reload()">
                </div>
            </form>

        </div>
    </div>
    </div>
    <div class="footer"> <!--FOOTER-->
        <div class="pokemonFight">Pokémon Fight</div>
        <div class="redesSociales">
            <i class="bx bxl-facebook-circle"></i>
            <i class="bx bxl-linkedin-square"></i>
            <i class="bx bxl-youtube"></i>
            <i class="bx bxl-instagram"></i>
        </div>

    </div>
    <script src="/js/Registro.js"></script>
</body>

</html>