* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3B4CCA;
}

.fotoPerfil {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
    margin-left: 70px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    cursor: pointer;
}


.paginaPrincipal,
.estadisticas,
.sobreNosotros {
    margin: 20px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

a:active {
    color: black;
}

.footer a{
    color: white;
}

.footer a:hover {
    color: blue;
}

.footer a:active {
    color: white;
}

.titulo {
    font-size: xxx-large;
    margin-top: 90px;
    margin-bottom: 10px;
}

.resumen {
    font-size: larger;
    margin-bottom: 20px;
    color: grey;
}

.titulo,
.resumen {
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

h1 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}



.caja {
    margin-top: 10% ;
    margin-bottom: 5%;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 550px;
    box-sizing: border-box;
    background-image: url('/img/batalla.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}

h2 {
    margin-bottom: 60px;
    font-size: 30px;
}

.vs {
    color: red; 
}



button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30%;
    width: 200px; 
    height: 50px;
    
}

button:hover {
    background-color: #333;
}




th,
td {
    width: 350px;
    height: 200px;
    border-collapse: collapse;
    border: none;
    text-align: center;
    font-size: larger;
}

th {
    font-size: x-large;
}

.imagen_Personajes{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: 5px;
    background-color: wheat;
}

.caja_Usuario {
    width: 196px;
    height: 54px;
    background-color: white;
    margin-left: 30px;
    border-radius: 50px;
    padding: 15px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    font-size: 16px;
}

.pokemonFight {
    align-content: center;
}

.redesSociales {
    align-content: center;
    cursor: pointer;
}

.bxl-facebook-circle,
.bxl-linkedin-square,
.bxl-youtube,
.bxl-instagram {
    margin: 5px;
}

.menu_Footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.paginaPrincipal_footer,
.sobreNosotros_footer,
.estadisticas_footer {
    margin: 15px;
    font-size: 16px;
}