* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3B4CCA;
}

.fotoPerfil {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
    margin-left: 70px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    cursor: pointer;
}


.paginaPrincipal,
.estadisticas,
.sobreNosotros {
    margin: 20px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

a:active {
    color: black;
}

.footer a{
    color: white;
}

.footer a:hover {
    color: blue;
}

.footer a:active {
    color: white;
}

.titulo {
    font-size: xxx-large;
    margin-top: 90px;
    margin-bottom: 10px;
}


.titulo {
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.caja_1 {
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 550px;
    transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;

}

.caja_2 {
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 550px;
    display: none;
    transition: opacity 0.5s ease-in-out, transform  1s ease-in-out;
    background-color: darkcyan;

}

.caja_1.mostrar, .caja_2.mostrar {
    display: none;
    opacity: 3;
    transform: scale(5);
}

h2 {
    margin-bottom: 60px;
    font-size: 30px;
    text-align: center;
}

.boton_carrousel_arriba{
    align-items: center;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 32px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    margin-top: 1%;
}

.boton_carrousel_abajo{
    align-items: center;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 32px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    margin-bottom: 1%;
}

.boton_carrousel_arriba:hover {
    color:gray;
    animation: fadeIn 0.5s infinite;
}

.boton_carrousel_abajo:hover {
    color:gray;
    animation: fadeIn 0.5s infinite;
}

.boton_general {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    width: 275px; 
    height: 50px;
    
}


.boton_general:hover {
    background-color: #333;
    
}


.imagen_Personajes{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 90px;
    margin-bottom: 30px;
    margin-top: 5px;
    background-color: wheat;
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    font-size: 16px;
    margin-top: 5%;
}

.pokemonFight {
    align-content: center;
}

.redesSociales {
    align-content: center;
    cursor: pointer;
}

.bxl-facebook-circle,
.bxl-linkedin-square,
.bxl-youtube,
.bxl-instagram {
    margin: 5px;
}

.menu_Footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.paginaPrincipal_footer,
.sobreNosotros_footer,
.estadisticas_footer {
    margin: 15px;
    font-size: 16px;
}