* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3B4CCA;
}

.fotoPerfil {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
    margin-left: 70px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    cursor: pointer;
}

.NuevoEquipo,
.paginaPrincipal,
.estadisticas,
.sobreNosotros,
.duelos {
    margin: 20px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

a:active {
    color: black;
}

.footer a{
    color: white;
}

.footer a:hover {
    color: blue;
}

.footer a:active {
    color: white;
}

.titulo {
    font-size: xxx-large;
    margin-top: 90px;
    margin-bottom: 10px;
}

.resumen {
    font-size: larger;
    margin-bottom: 20px;
    color: grey;
}

.titulo,
.resumen {
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.tabla_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 75%;
    background-color: #D9D9D9;
    animation: fadeIn 1s ease-in forwards;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box shadow 0.3s ease;
    border-radius: 50px;
    overflow-x: auto;
}
th,
td {
    width: 350px;
    height: 200px;
    border-collapse: collapse;
    border: none;
    text-align: center;
    border-bottom: 1px solid black;
    font-size: larger;
}
th {
    font-size: x-large;
}
.th_Pokemons{
    border-left: 1px solid black;
}
td:nth-child(2),
td:nth-child(3), 
td:nth-child(4),
td:nth-child(5),
td:nth-child(6) {
    border-right: 1px solid black;
}

td:nth-child(2){
    border-right: 1px solid black;
    border-left: 1px solid black;
}

tr:last-child td {
    border-bottom: none;
}
.decoracionTabla:hover{
    transform: translateY(-10px);
    box-shadow: 8px 16px 16px rgba(0, 0, 0, 0.2);
}

.seleccionada {
    background-color:#78c850;
}

.NuevoEquipo{
    width: 110px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 15px;
    background-color: #3B4CCA;
}
.imagen_Personajes{
    width: 75px;
    height: 78px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    background-color: white;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    font-size: 16px;
}

.pokemonFight {
    align-content: center;
}

.redesSociales {
    align-content: center;
    cursor: pointer;
}

.bxl-facebook-circle,
.bxl-linkedin-square,
.bxl-youtube,
.bxl-instagram {
    margin: 5px;
}

.menu_Footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.paginaPrincipal_footer,
.sobreNosotros_footer,
.estadisticas_footer {
    margin: 15px;
    font-size: 16px;
}