*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3B4CCA;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    cursor: pointer;
}


.paginaPrincipal,
.sobreNosotros{
    margin: 20px;
    font-size: 17px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
}

a:active {
    color: white;
}

.footer a{
    color: white;
}

.footer a:hover {
    color: blue;
}

.footer a:active {
    color: white;
}


.titulo{
    font-size: xxx-large;
    margin-top: 60px;
    margin-bottom: 10px;
}

.resumen{
    font-size: larger;
    margin-bottom: 20px;
    color: grey;
}

.titulo,
.resumen{
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    background-image: url('/img/iniciosesion.jpeg');
    opacity: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.logoimagen{
    width: 190px;
    height: 70px;
    margin-left: 40px;
}
/*---------------FORMULARIO------------------*/
.formulario{
    background-color: rgba(255, 255, 255, 0.452);
   border: solid ;
   border-radius: 50px;
    width: 500px;
    height: 500px;
    padding: 5%;
    font-weight: bold;  
    transition: all 1s;
    text-align: center;
}

.label{
    display: block;
}

.formulario__general{   
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
    display: flex;
    text-align: center;
    width: 110%;
    margin: 25px;
    margin-left: -10px;
   
}

.formulario h1{
    text-align: center;
    margin-bottom: 90px;
}

.input{
    width: 250%;
    height: 60%;
    background: white;
    border-bottom: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    outline: none;
    transition: 1s;
    border-color: #303333;
    background: transparent;
    margin-left: 40px;
    font-size: 20px;

    
}

.formulario__validacion{
    position: absolute;
    padding-left:430px;
    padding-top: 10px;
    opacity: 0;
    font-size: 30px;
}

.input:focus{
    box-shadow: 0 0 20px  #3B4CCA ;
}

.formulario__input-error{
    display: flex;
    padding-left: 40px;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 0;
    display: none;
    
}

/*CS LLAMADO POR EL JS*/

.formulario__input-error-activo{
    display: block;
}

.formulario__grupo-btn-enviar{
    grid-column: span 2;
}

/*CS LLAMADO POR EL JS*/

.formulario__mensaje-exito-activo{
    display: block;
}

.formulario__grupo-btn-enviar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn{
    padding: 10px 40px;
    background-color: #3B4CCA;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.formulario__mensaje-exito{
    font-size: 2em;
    padding: 10px;
    color: green;
    text-align: center;
    display: none;
    font-size: 20px;
}

.formulario__mensaje-exito-activo{
    display: block;
}

/*-------------VALIDACIONES----------------*/
.formulario__general-correcto .formulario__validacion{
    color: #29ee0f;
    opacity: 1;
     
}

.formulario__general-incorrecto .label{
    color: red;
   
} 

.formulario__general-incorrecto .formulario__validacion{
    color: red;
    opacity: 1;
     display: block;
}

.formulario__general-incorrecto .input{
    border: 1px solid red;
     display: block;
}


.imagen{
    opacity: 50%;
}

.recuperarContraseña{
    text-align: center;
   display: block;
   margin-top: 10px;
    color: black;
    font-size: 25px;
}



@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    font-size: 16px;
    align-items: center;
    padding: 30px;
    height: 100px;
}

.pokemonFight {
    align-content: center;
}

.redesSociales {
    align-content: center;
    cursor: pointer;
}

.bxl-facebook-circle,
.bxl-linkedin-square,
.bxl-youtube,
.bxl-instagram {
    margin: 5px;
}

.menu_Footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.paginaPrincipal_footer,
.sobreNosotros_footer,
.estadisticas_footer {
    margin: 15px;
    font-size: 16px;
}

.formulario__input{
   
    width: 30%;
}


.formulario__general label{
  
    display: flex;
    padding-left: 120px;
   
}

.contraseña{
    display: flex;
    margin-left: 50px;
}