
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-image: url(fondo.jpg); 
    background-size: cover;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3B4CCA;
    width: 100%;
    padding: 10px 70px;
}

.fotoPerfil {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 20px;
    cursor: pointer;
}

.paginaPrincipal,
.sobreNosotros {
    margin: 0 20px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

a:active {
    color: black;
}

.footer a{
    color: white;
}

.footer a:hover {
    color: blue;
}

.footer a:active {
    color: white;
}

main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #f2f2f2;
}

table td img {
    width: 50px;
    height: 50px;
}

.pagination {
    text-align: center;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 2px;
}

.pagination a:hover {
    background-color: #ddd;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 16px;
    width: 100%;
    padding: 10px 0;
}

.pokemonFight {
    align-content: center;
}

.redesSociales {
    display: flex;
    align-content: center;
    cursor: pointer;
}

.bxl-facebook-circle,
.bxl-linkedin-square,
.bxl-youtube,
.bxl-instagram {
    margin: 5px;
}

.menu_Footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.paginaPrincipal_footer,
.sobreNosotros_footer {
    margin: 15px;
    font-size: 16px;
}
