* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3B4CCA;
}

.fotoPerfil {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
    margin-left: 70px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    cursor: pointer;
}
.paginaPrincipal,
.estadisticas,
.sobreNosotros,
.duelos,
.equipo {
    margin: 20px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

a:active {
    color: black;
}

.footer a{
    color: white;
}

.footer a:hover {
    color: blue;
}

.footer a:active {
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #f2f2f2;
}

.pagination {
    text-align: center;
    margin-top: 50px;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 2px;
}

.pagination a:hover {
    background-color: #ddd;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    font-size: 16px;
    margin-top: 50px;
}

.pokemonFight {
    align-content: center;
}

.redesSociales {
    align-content: center;
    cursor: pointer;
}

.bxl-facebook-circle,
.bxl-linkedin-square,
.bxl-youtube,
.bxl-instagram {
    margin: 5px;
}

.menu_Footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.paginaPrincipal_footer,
.sobreNosotros_footer,
.estadisticas_footer {
    margin: 15px;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    font-size: x-large;
}
img {
    width: 100px;
    height: 100px;
}
.clickable {
    cursor: pointer;
    color: black;
    text-decoration: none;
}
.clickable:hover{
    cursor: pointer;
    color: #78c850;
    text-decoration: none;
}
#pagination {
    margin-top: 20px;
    text-align: center;
}
.pagination-button {
    margin: 0 2px;
    padding: 5px 10px;
}
.pagination-button.current {
    font-weight: bold;
}
#contenedor-pokemon-seleccionado {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    justify-content: space-around;
    background-color: #3B4CCA;
    color: white;
    border-radius: 25px;
}
.selected-pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.selected-pokemon img {
    width: 150px;
    height: 150px;
}
h2{
    text-align: center;
    font-size: xx-large;
}
h1{
    text-align: center;
    font-size: xxx-large;
}
.salvarEquipo{
    margin: 30px;
    font-size: x-large;
    padding: 10px;
    background-color: #3B4CCA;
    color: white;
    border-radius: 15px;
    padding: 14px;
}
.salvarEquipo:hover{
    color: black;
}
.centrarBoton{
    display: flex;
    justify-content: center;
}
.centrarNombre{
    margin: 30px;
    font-size: x-large;
    padding: 10px;
    background-color: #3B4CCA;
    color: white;
    border-radius: 15px;
}
label{
    padding: 15px;
}
input{
    width: 300px;
    font-size: large;
    margin: 5px;
}