* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3B4CCA;
    padding: 17px;
}

.fotoPerfil {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
    background-color: white;
    margin-left: 53px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0px;
    margin-top: 0px;
}


.menu a {
    margin: 0 20px;
    margin-bottom: 15px;
    font-size: 16px;
    justify-content: space-around;
    font-weight: bold;
   text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
}

a:active {
    color: white;
}

.footer a{
    color: white;
}

.footer a:hover {
    color: blue;
}

.footer a:active {
    color: white;
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-image: url('/img/fondoPokeBolas.png');
}
.body h3{
    border-color: black;
    padding: 15px;
    border: 2px solid;
    border-radius: 10px;
    background-color: #3B4CCA;
}
.listaAmigos{
    background-color: #3B4CCA;
}
.imagen_Personajes{
    width: 75px;
    height: 78px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    background-color: white;
}
.listaAmigos h6{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    color: white;
}
.duelo a,
.equipo a{
    margin-top: 10;
}
.duelo{
    background-image: url('/img/fondoDuelos.png');
}
.duelos,
.equipos{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    font-size: 38px;
}
.duelos, .equipos{
    margin-top: 58px;
    display: inline;
    padding-top: 5px;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 5px;
}

.equipo{
    background-size: cover;
    background-repeat:no-repeat;
    background-image: url('/img/fondoEstadisticas.png');
}
.duelo:hover, .equipo:hover, .listaAmigos:hover{
    transform: translateY(-10px);
    box-shadow: 8px 16px 16px rgba(0, 0, 0, 0.2);
}
.opciones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 600px;
    width: 90%;

}
.duelo,.equipo,.listaAmigos{
    height:500px;
    width: 300px;
    text-align: center;
    border: 2px solid black;
    padding-top: 40px;
    border-radius: 30px;
    margin-bottom: 40px;
}


.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    font-size: 18px;
}

.pokemonFight{
    align-content: center;
}

.redesSociales{
    align-content: center;
}

.bxl-facebook-circle,
.bxl-linkedin-square,
.bxl-youtube,
.bxl-instagram{
    margin: 5px;
}

.menu_Footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-top: 5px;
}

.landingPage_footer,
.sobreNosotros_footer,
.estadisticas_footer{
    margin-bottom: 15px;
    margin-top: 50px;
    font-size: 16px;
}

